<nav class="breadcrumb">
    <a class="breadcrumb-item" routerLink="/home">Home</a>
    <span class="breadcrumb-item active">Quizz Instruction </span>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-md-1">
            <div class="card border-0 instruction-page">
                <div class="card-header no-radius">
                    <h4>Quizz Instruction</h4>
                </div>
                <div class="card-body instruction-body">
                    <p>1. Read all instruction carefully and flow rulls</p>
                    <p>2. Fist read the qustion and option carefully</p>
                    <p>3. Total 10 Question has each Quiz</p>
                    <p>4. All quizz are different type of question and marks</p>
                    <p>5. All Question have 4 options</p>
                    <p>6. Only one option are correct in four option</p>
                    <p>7. You have to click on right option Answer</p>
                    <p>8. After select right opton you have click on <b>Next</b> button</p>
                    <p>9. After answerd all question click on <b>Submit Button</b></p>
                </div>
                <div class="card-footer no-radius">
                    <button class="btn btn-primary pull-right w-25" id="start-quiz"
                        (click)="startQuizFun()">Start Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>