<nav class="breadcrumb">
    <a class="breadcrumb-item" routerLink="/home">Home</a>
    <span class="breadcrumb-item active">Quizz </span>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-md-2">
            <div class="quiz-page">
                <h4 class="text-center mb-4"><span>{{quizQuestions['typeOfQuestion']['name']}}</span></h4>
                <div class="card mb-3">
                    <div class="card-header bg-light text-dark">
                        <h5>Question No. {{currentQuestionNo}}</h5> {{quizQuestions['name']}}
                    </div>
                    <div class="card-body">
                        <ul class="list-group m-0 p-0">
                            <li class="list-group-item" *ngFor="let option of quizzQuestionOptions"
                                (click)="questionAnsweredFun($event,option.name,option.id)">
                                <label for="{{quizQuestions['id']}}+{{option['id']}}" class="w-100 cursor-pointer">
                                    <input type="radio" name="{{quizQuestions['id']}}"
                                        id="{{quizQuestions['id']}}+{{option['id']}}" value="{{quizQuestions['id']}}">
                                    {{option.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer bg-light">
                        <div class="row">
                            <div class="col-5">
                                <button class="pull-left btn btn-warning w-100"
                                    [ngClass]="{disabled: (currentQuestionIndex <= 0)}"
                                    (click)="previousQuestionFun()">Previous</button>
                            </div>
                            <div class="col-5 offset-2 mb-4 ">
                                <button class="pull-right btn btn-success w-100"
                                    [ngClass]="{disabled: (currentQuestionIndex >= 9)}"
                                    (click)="nextQuestionFun()">Save & Next</button>
                            </div>
                            <div class="col-12">
                                <button class="btn-block btn btn-primary" (click)="submitQuizzFun()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>